<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IntergratedNews</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     {% load static %}
    <link href="{% static 'styles/style.css'%}" rel="stylesheet" type="text/css">
</head>
<body>
{% block content %}
<nav class="navbar navbar-expand-lg" id="navbar">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <div class="mr-auto">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a href="{% url 'Home' %}" class="nav-link" >HOME <span class="sr-only">(current)</span></a>

                  <li class="nav-item">
                    <a href="{% url 'AlNews' %}" class="nav-link" >BUSINESS</a>
                  </li>
                </li>
                <li class="nav-item">
                  <a href="{% url 'Index' %}" class="nav-link"  >TECHNOLOGY</a>
                </li>
                  <li class="nav-item">
                    <a href="#sect-5" class="nav-link" >REGION</a>
                  </li>

                </ul>
              </div>
            </div>
          </nav>
<div class="front">
 <div class="forms">
        <form class="form"  action="{% url 'search' %}" method="GET">
            <label>
                <input id="fr" class="form-control" type="text" name="search" placeholder="search"  (keyup.enter)="profileUser()">
            </label>
            <input type="submit" value="Search">
        </form>

    </div>
 </div>
<div class="container-fluid">
<!--    -->
    <div class="links">
    <div class="row">
    <div class="col-md-4 align-self-start">
      <div id="img1">
          <h6>Business</h6>
            <a href="{% url 'AlNews' %}"><img src="{% static 'media/business.jpeg' %}" height="300" width="300"></a>

        </div>
    </div>
    <div class="col-md-4 align-self-center">

        <div id="img2">
            <h6>Technology</h6>
            <a href="{% url 'Index' %}" ><img src="{% static 'media/tech.jpg' %}" height="300" width="300"></a>
        </div>
    </div>
    <div class="col-md-4 align-self-end">

        <div id="img3">
            <h6>Location</h6>
            <img src="{% static 'media/geo.jpg' %}" height="300" width="300">
        </div>
    </div>
    </div>
        </div>
<!--    -->

</div>
<div class="footer">
<footer>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> Amandine</a>
    </div>
</footer>
</div>
{% endblock %}
</body>
</html>