<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IntergratedNews</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     {% load static %}
    <link href="{% static 'styles/style.css'%}" rel="stylesheet" type="text/css">
</head>
<body>
{% block content %}
<nav class="navbar navbar-expand-lg" id="navbar">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <div class="mr-auto">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a href="{% url 'Home' %}" class="nav-link" >HOME <span class="sr-only">(current)</span></a>

                  <li class="nav-item">
                    <a href="{% url 'AlNews' %}" class="nav-link" >BUSINESS</a>
                  </li>
                </li>
                <li class="nav-item">
                  <a href="{% url 'Index' %}" class="nav-link"  >TECHNOLOGY</a>
                </li>
                  <li class="nav-item">
                    <a href="#sect-5" class="nav-link" >REGION</a>
                  </li>

                </ul>
              </div>
            </div>
          </nav>
{% if news %}
<br>
<h4>found results</h4>
{% for i in news %}
<h5><a href="/bbc" >{{i.title}}:</a></h5><br>
    <p>{{i.description}}</p>
    <img src="{{ i.image }}" alt="" width="500" height="300">
    <p>Written by:{{i.author}}</p>

{% endfor %}
 {% else %}
    <p>result not found</p>
{% endif %}
{% endblock %}
</body>
</html>